In [2]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [3]:
vol(3)

113.03999999999999

In [8]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        print(f'{num} is in range of low and high')
    else:
        print('not in range')
    return num in range(low,high+1)

In [9]:
ran_check(6,3,7)

6 is in range of low and high

True

In [10]:
ran_check(7,3,4)

not in range

False

In [13]:
#two separate var
def up_low(s):
    lowercase=0
    uppercase=0
    
    for char in s:
        if char.isupper():
            uppercase+=1
        elif char.islower():
            lowercase+=1
        else:
            pass
    print(f"Original String: {s}")
    print(f'Lowercase count: {lowercase}')
    print(f'Uppercase count: {uppercase}')

In [14]:
s='Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String: Hello Mr. Rogers, how are you this fine Tuesday?
Lowercase count: 33
Uppercase count: 4

In [17]:
##dictionary
def up_low(s):
    d={'upper':0,'lower':0}
    
    for char in s:
        if char.isupper():
            d['upper']+=1
        elif char.islower():
            d['lower']+=1
        else:
            pass
    print(f"Original String: {s}")
    print(f'Lowercase count: {d["lower"]}')
    print(f'Uppercase count: {d["upper"]}')

In [18]:
s='Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String: Hello Mr. Rogers, how are you this fine Tuesday?
Lowercase count: 33
Uppercase count: 4

In [19]:
def unique_list(lst):
    return list(set(lst))

In [21]:
unique_list(([1,1,1,2,2,2,3,3,4,4,5,5,15]))

[1, 2, 3, 4, 5, 15]

In [22]:
def unique_list(lst):
    seen_numbers=[]
    for number in lst:
        if number not in seen_numbers:
            seen_numbers.append(number)
    return seen_numbers

In [23]:
unique_list(([1,1,1,2,2,2,3,3,4,4,5,5,15]))

[1, 2, 3, 4, 5, 15]

In [24]:
def multiply(numbers):
    total=1
    for num in numbers:
        total =total*num
    return total

In [27]:
multiply([3,-5,1,-9])

135

In [35]:
def palindrome(s):
    #remove spaces string
    s=s.replace(' ','')
    #check is string is == reversed version
    s==s[::-1]
    return s==s[::-1]

In [36]:
palindrome('nu rse s r un')

True

In [47]:
import string

def ispangram(str1,alphabet=string.ascii_lowercase):
    #create a set of alphabet
    alphaset=set(alphabet)
    
    print(alphaset)
    #remove any space from input string
    str1=str1.replace(' ','')
    #convert into all lower
    str1=str1.lower()
    
    print(str1)
    #grab all unique letter from string set
    str1=set(str1)
    #alphabet set == string set input
    return str1 ==alphaset

In [48]:
ispangram('The quick brown fox jumps over the lazy dog')

{'k', 'w', 's', 'j', 'l', 'q', 'p', 'i', 'v', 'u', 'e', 'a', 'y', 'b', 'n', 'o', 'z', 'c', 'h', 't', 'm', 'r', 'x', 'd', 'f', 'g'}
thequickbrownfoxjumpsoverthelazydog

True

In [41]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'